permissions:
    contents: write

on:
    push:
    pull_request:

jobs:
    # This driver is Linux-only
    target-ubuntu:
        strategy:
            matrix:
                xserver-version: [ master, xlibre-xserver-25.1.0, xlibre-xserver-25.0.0.18 ]
        runs-on: ubuntu-latest
        steps:
            - uses: X11Libre/action-build-driver/target/ubuntu@v0.3.7
              with:
                xserver-version: ${{ matrix.xserver-version }}

    release-notes:
        uses: X11Libre/action-build-driver/.github/workflows/release-notes-1.yml@master
        secrets: inherit
